
body {
  background: #edeff1;
}
h1 {
  color: #fff; font-size: 24px; margin: 16px; padding: 0;
}
h2 {
  margin: 60px 0 30px; font-size: 36px;
}
.navbar {
  border-radius: 0;
}
.containerSummary{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
}
.col{
  margin-top:30px;
}
@media (max-width:480px){
  body{
  font-size:12px;
 }
 h2{
   font-size:24px;
 }
 .table{
   max-width:80%;
 }
 .table>thead>tr>th{
   padding:5px;
 }
 .pie-chart{
   max-width: 320px;
 }
}